<!DOCTYPE html>
<html lang="kr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>TestPage</title>
<script src="https://code.jquery.com/jquery-1.10.2.js"></script> 
</head>
<body>
    <h1>로그인성공</h1>
    <a href="/studyDetail">스터디</a>
	<form action="/user/login" method="post">
		<input type="text" id="userId"/>
		<input type="password" id="userPw"/>
		<input type="button" id="login" value="로그인" />
	</form>
</body>
</html>