<!DOCTYPE html>
<html>
<head>
	<title>DO_IT</title>
	<link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR|Noto+Sans:700&display=swap" rel="stylesheet">
	<!--초기화-->
	<link rel="stylesheet" href="https://unpkg.com/ress/dist/ress.min.css">
	<!-- 기본 헤더 컨텐츠 푸터 layout -->
	<link rel="stylesheet" href="./stylesheets/layout.css">
	<!-- login_after css -->
	<link rel="stylesheet" href="./stylesheets/login_after.css">
</head>
<body>
	<div class="head">
		<a class="logo" href="/"><img src="../images/logo_long.png"></a>
		<div class="nav">
			<ul>
				<li><a href="#">***님 환영합니다.</a></li>
				<li><a href="#">로그아웃</a></li>
			</ul>
		</div>
	</div>


	<div class="contents">
		<div class="innercontents">

			<div class="addedStudy">
				<h2>수강 중인 강좌</h2>

				<div class="l_row">
					<div class="l_col l_col_3_12">
						<a href="#"><img src="http://placehold.it/250x250" alt="">
						<h3>[수원] 달려라 달려</h3>
						</a>
					</div>

					<div class="l_col l_col_3_12">
						<a href="#"><img src="http://placehold.it/250x250" alt="">
						<h3>[강남] 술 좋아 마셔</h3>
						</a>
					</div>

					<div class="l_col l_col_3_12">
						<a href="#"><img src="http://placehold.it/250x250" alt="">
						<h3>[노원] 배고파 밥줘</h3>
						</a>
					</div>

					<div class="l_col l_col_3_12">
						<a href="#"><img src="http://placehold.it/250x250" alt="">
						<h3>[신촌] 신촌을 못가</h3>
						</a>
					</div>

				</div>

			</div>



			<div class="searchStudy">

				<h2>원하는 강좌 찾기</h2>
				<form action="">

					<input type="text" placeholder="ex) 야구" class="inputsearch">
					<input type="submit" value="Search" class="submitsearch">

				</form>
			</div>
		</div>
	</div>

	<div class="footer">LEVELUPTHON 11 | 2019</div>
</body>
</html>